
.listMenuBackButton {
    background-image: url("/public/icons/arrow-small-left(2).png");
    min-width: 2.5rem;
    background-size: cover;
    margin: 0;
    height: 2rem;
  }
  
  
  
  .listMenuHeader {
    display: flex;
    justify-content: space-between;
    margin-top: 2px
  }
  
  .listMenuOptions {
    display: flex;
    gap: 5px;
  
  }
  
  .listMenuNewItem {
    margin-left: auto;
  }
  
  
  .listMenuListName {
    font-size: 1.2rem;
  }
  
  
  .listMenuItems {
    display: flex;
    flex-direction: column;
  }
  
  .listMenuItem {
    display: flex;
    border-bottom: 0.5px solid black;
  }
  
  .item {
    margin-right: auto;
    font-size: 1.2rem;
  }