
.App {
  width: 100vw;
  height: 100vh;
}

.disabled {
  pointer-events: none;
}

/* media Quaries */
@media only screen and (max-width: 479px) {
  html {
    font-size:23px;
  }
  input[type=checkbox]{
    transform: scale(1.8);
  }

  .tilesStyle {
    grid-template-columns:1fr;

}

.icon {
  margin: 0.5rem; 
}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  html {
    font-size:25px;
  }
  input[type=checkbox]{
    transform: scale(1.9);
  }

  .icon{
    margin: 0.4rem; 
  }
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
  html {
    font-size:27px;
  }
  input[type=checkbox]{
    transform: scale(2.1);
  }
  .icon {
    margin: 0.4rem;
  }
}


@media only screen and (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size:29px;
  }
  input[type=checkbox]{
    transform: scale(2.3);
  }

  .icon {
    margin: 0.3rem; 
  }
}


@media only screen and (min-width: 1200px) {
  html {
    font-size:32px;
  }
  input[type=checkbox]{
    transform: scale(2.5);
  }

  .tilesStyle {
    grid-template-columns: repeat(3, 1fr);

}

.icon{
  margin: 0.3rem; 
}
}
