body {
  background: #1c92d2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1c92d2, #f2fcfe);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* -------------------  styling for ListMenu.js -------------------------- */


.button {
  height: auto;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  object-position: center center;
  margin: 2px;
  
}

.button:hover {
  background-color: rgba(130, 180, 211, 0.644);
  cursor: pointer;
}

.addButton {
  background-image: url("/public/icons/plus.png");
  padding: 0.8rem;
}

.deleteButton {
  background-image: url("/public/icons/cross.png");
  min-width: 1rem;
  max-width: 1rem;
  height: 1rem;
}

.listMenuBackButton {
  background-image: url("/public/icons/arrow-small-left(2).png");
  min-width: 2.5rem;
  background-size: cover;
  margin: 0;
  height: 2rem;

}

.listMenuHeader {
  display: flex;
  justify-content: space-between;
  margin-top: 2px
}

.listMenuOptions {
  display: flex;
  gap: 5px;

}

.listMenuNewItem {
  margin-left: auto;
}

.filterButton {
  background-image: url("/public/icons/list-check.png");
}

.themeStyleButton {
  background-image: url("/public/icons/apps.png");
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  cursor: pointer;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  
}

.dropdown-content p {
  padding: 0.5rem;
  text-decoration: none;
  display: block;
  border: 1px black solid;
  margin: 0;
}

.dropdown-content p:hover {
  background-color: #abcff4
}

.dropdown:hover .dropdown-content {
  display: block;
}

.listMenuListName {
  font-size: 1.2rem;
}

dialog {
  border: solid 1px rgb(147, 147, 147);
}

dialog::backdrop {
  backdrop-filter: blur(2px);
}

.disabled {
  pointer-events: none;
 
  color:rgb(85, 85, 85);

}

dialog::backdrop {
  backdrop-filter: blur(2px);
}
.listMenuItems {
  display: flex;
  flex-direction: column;
}

.listMenuItem {
  display: flex;
  border-bottom: 0.5px solid black;
}

.item {
  margin-right: auto;
  font-size: 1.2rem;
}

.tilesStyle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px; 
  height: calc(50vh - 15px);
  
} 

.titleStyleListBox{
  border: 0.5px solid black;
  display:flex;
  justify-content:center;
box-shadow: 1px 4px 13px 0px rgba(0,0,0,0.42);
-webkit-box-shadow: 1px 4px 13px 0px rgba(0,0,0,0.42);
-moz-box-shadow: 1px 4px 13px 0px rgba(0,0,0,0.42);
}
.titleStyleList{
  align-self: center;
  flex-direction: column;
  justify-content: center;
}

/* -------------------  styling for ListsMenu.js -------------------------- */
.list{
  display: flex;
  justify-content: space-between;
}
a{
  text-decoration: none;
  color: black;
}
.listsMenuOptions{
  display: flex;
  gap: 5px;
  border-bottom: 2.5px solid black;
}
.changeLanguageButton{
  margin-left: auto;
  background-image: url("/public/icons/globe.png");
}

.darkThemeButton{
  background-image: url("/public/icons/moon.png");
}

.listSettings{
  background-image: url("/public/icons/settings.png");

}

.listName{
  font-size: 1.2rem;
}
.listArchived{
  background-image: url("/public/icons/archive.png");

}

.listSettings,
.listArchived,
.darkThemeButton,
.changeLanguageButton
,.themeStyleButton,
.filterButton 
{  padding: 0.8rem;
  border: none;
  cursor: pointer;
}
.listBorder{
  border: #000000 solid 1px;
}
 
/* -------------------  styling for Settings.js -------------------------- */



.userSettingsDelete{
  display: flex;
  justify-content: space-between;
}

.listOfUsersTitle{
  font-weight: bolder;

}

.administatorBadge{
  background-image: url("/public/icons/user-shield.png");
  padding: 0.6rem;
  border: none;
  height: auto;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  object-position: center center;
}
.administratorUser{
  display: flex;
  justify-content: space-between;
}

.closeButton{
  margin-left: auto;
}

.administratorMenu>*:not(:last-child),
.listOfUsers>*:not(:last-child),
.listInfo {
  border-bottom: 1px solid rgb(0, 0, 0);
}

.editListNameButton{
  text-align: center;
  border:1px solid black;
  background-color: #a6c2d1;
}
.promptText{
  font-size: 0.8rem;
}

.administratorMenu, 
.listOfUsersTitle,
.listOfUsers,
.leaveButton,
.listMenuOptions,
.listMenuHeader {
  border-bottom:2.5px solid black;
}

.centerText {
  text-align: center;
}